In [2]:
import pandas as pd
import numpy as np

In [3]:
res = []
def printAllKLength(set, k):   
    n = len(set)
    printAllKLengthRec(set, "", n, k)
    

def printAllKLengthRec(set, prefix, n, k): 
    if (k == 0) :
        res.append(prefix)
        return
  
    for i in range(n):
        newPrefix = prefix + set[i]
        printAllKLengthRec(set, newPrefix, n, k - 1)

printAllKLength(['A', 'C', 'G', 'T'], 1)
k1_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 2)
k2_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 3)
k3_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 4)
k4_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 5)
k5_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 6)
k6_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 7)
k7_combs = res

combs = [k1_combs, k2_combs, k3_combs, k4_combs, k5_combs, k6_combs, k7_combs]

In [57]:
def kmerize(file, k, is_set, data, filename):
    import csv
    csv_out = open(str(k)+'kmerized' + '.' + filename + '.csv', 'w', newline='')
    writer = csv.writer(csv_out, delimiter=',')
    hasHeader = False
    a = 0
    with open(file) as f:
        for line in f:
            feature_dict = {}
            tokens = line.split(',')
            seq = tokens[1].strip()[1:-1].strip()
            genus = tokens[2].strip()[1:-1]
            if a == 0:
                a = 1
                continue
            # skip sequences with len < 657 (see p. 7 and ref [30] in the paper)
            if len(seq) >= 657:
                continue

            new_seq = ''
            for i in range(len(seq)):
                if seq[i] in ['A', 'C', 'G', 'T']:
                    new_seq += seq[i]

            for i in range(len(new_seq)-k+1):
                kmer = new_seq[i:i+k]
                if kmer not in feature_dict:
                    feature_dict[kmer] = 1
                else:
                    feature_dict[kmer] += 1
            
            for key in data:
                if key not in feature_dict:
                    feature_dict[key] = 0
                    
            if not hasHeader:
                sorted_features = list(feature_dict.keys())
                sorted_features.sort()
                sorted_features.extend(['genus name', 'class'])
                writer.writerow(sorted_features)
                hasHeader = True
                
            feature_dict = dict(sorted(feature_dict.items()))
            counter_list = list(feature_dict.values())
            counter_list.extend([genus, file[0:file.index('.')]])
            writer.writerow(counter_list)                    
    csv_out.close()

files = ['Aves.csv', 'Chiroptera.csv', 'Rodentia.csv']

# for k in range(0, 7):
#     for file in files:
#         kmerize(file, k+1, False, combs[k])
kmerize('../raw_data/Aves.csv', 1, False, combs[0], 'Aves')

In [59]:
df = pd.read_csv('1kmerized.Aves.csv')
df

        A    C    G    T     genus name  class
0     168  205  118  161      Molothrus    NaN
1     174  223  108  147        Amazona    NaN
2     168  223  103  161      Accipiter    NaN
3     161  211  113  163        Arremon    NaN
4     164  204  104  180       Myiobius    NaN
...   ...  ...  ...  ...            ...    ...
1056  170  203  109  170     Pterodroma    NaN
1057  146  223  117  166  Reinwardtoena    NaN
1058  161  211  123  156     Rhabdornis    NaN
1059  190  186  107  169      Rhipidura    NaN
1060  175  200  118  159      Stachyris    NaN

[1061 rows x 6 columns]

In [40]:
df_1 = pd.read_csv('../raw_data/Aves.csv')
df_1

,Unnamed: 0,nucleotides,genus_name
0,1,ATGAGCAGGCATAGTCGGCACCGCCCTAAGCCTGCTAATCCGTGCA...,Tachybaptus
1,2,ACCCTCTACCTAATTTTCGGAGCATGAGCTGGAATAGTAGGTACCG...,Zoothera
2,4,AACCGATGATTATTCTCAACTAACCACAAAGACATCGGCACCCTAT...,Charadrius
3,5,AACCGATGATTATTCTCAACCAACCACAAAGATATCGGCACTCTAT...,Podiceps
4,6,AACCGATGATTATTTTCAACTAACCACAAAGACATTGGCACCCTAT...,Aegotheles
...,...,...,...
5248,9795,ACTGTACCTAATTTTTGGCGCATGAGCTGGCATAGTCGGAACCGCT...,Actitis
5249,9797,CCTATACCTAATCTTCGGCGCATGAGCCGGAATAGTAGGTACCGCC...,Carpodacus
5250,9807,CTTATACTTAATCTTTGGCGCTTGAGCCGGCATAGTTGGCACTGCC...,Accipiter
5251,9809,CCTATACCTAATTTTCGGCGCGTGAGCCGGAATAGTGGGTACCGCC...,Dendroica
5252,9810,CCTATACCTGATCTTCGGCGCATGAGCCGGGATAGTAGGCACCGCC...,Melospiza