In [1]:
import pandas as pd
import numpy as np

In [2]:
res = []
def printAllKLength(set, k):   
    n = len(set)
    printAllKLengthRec(set, "", n, k)
    

def printAllKLengthRec(set, prefix, n, k): 
    if (k == 0) :
        res.append(prefix)
        return
  
    for i in range(n):
        newPrefix = prefix + set[i]
        printAllKLengthRec(set, newPrefix, n, k - 1)

printAllKLength(['A', 'C', 'G', 'T'], 1)
k1_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 2)
k2_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 3)
k3_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 4)
k4_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 5)
k5_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 6)
k6_combs = res
res = []
printAllKLength(['A', 'C', 'G', 'T'], 7)
k7_combs = res

combs = [k1_combs, k2_combs, k3_combs, k4_combs, k5_combs, k6_combs, k7_combs]

In [49]:
def kmerize(file, k, is_set, data, filename):
    import csv
    csv_out = open(str(k)+'kmerized' + '.' + filename + '.csv', 'w', newline='')
    writer = csv.writer(csv_out, delimiter=',')
    hasHeader = False
    a = 0
    with open(file) as f:
        for line in f:
            feature_dict = {}
            tokens = line.split(',')
            seq = tokens[1].strip()[1:-1].strip()
            genus = tokens[2].strip()[1:-1]
            if a == 0:
                a = 1
                continue
            # skip sequences with len < 657 (see p. 7 and ref [30] in the paper)
            if len(seq) < 657:
                continue

            new_seq = ''
            for i in range(len(seq)):
                if seq[i] in ['A', 'C', 'G', 'T']:
                    new_seq += seq[i]

            for i in range(len(new_seq)-k+1):
                kmer = new_seq[i:i+k]
                feature_dict.setdefault(kmer, 0)
                feature_dict[kmer] += 1
            
            for key in data:
                if key not in feature_dict:
                    feature_dict[key] = 0
                    
            if not hasHeader:
                sorted_features = list(feature_dict.keys())
                sorted_features.sort()
                sorted_features.extend(['genus name', 'class'])
                writer.writerow(sorted_features)
                hasHeader = True
                
            feature_dict = dict(sorted(feature_dict.items()))
            counter_list = list(feature_dict.values())
            counter_list.extend([genus, file[0:file.index('.')]])
            writer.writerow(counter_list)                    
    csv_out.close()

files = ['Aves.csv', 'Chiroptera.csv', 'Rodentia.csv']

# for k in range(0, 7):
#     for file in files:
#         kmerize(file, k+1, False, combs[k])
kmerize('../raw_data/Aves.csv', 2, False, combs[1], 'Aves')

In [50]:
df = pd.read_csv('7kmerized.Chiroptera.csv')
df.drop(['class'], axis=1, inplace=True)
df

,AAAAAAA,AAAAAAC,AAAAAAG,AAAAAAT,AAAAACA,AAAAACC,AAAAACG,AAAAACT,AAAAAGA,AAAAAGC,...,TTTTTCT,TTTTTGA,TTTTTGC,TTTTTGG,TTTTTGT,TTTTTTA,TTTTTTC,TTTTTTG,TTTTTTT,genus name
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,2,Pipistrellus
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Rousettus
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Melonycteris
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Sturnira
4727,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,1,Murina
4728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
4729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Sturnira
4730,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,Kerivoula

In [51]:
df_2 = pd.read_csv('../datasets/Chiroptera.Cleaned.k7.csv')
df_2.drop(['Unnamed: 0', 'nucleotides'], inplace=True, axis=1)
a = df_2.pop('genus_name')
df_2.insert(len(df_2.columns), 'genus name', a)
df_2

,AAAAAAA,AAAAAAC,AAAAAAG,AAAAAAT,AAAAACA,AAAAACC,AAAAACG,AAAAACT,AAAAAGA,AAAAAGC,...,TTTTTCT,TTTTTGA,TTTTTGC,TTTTTGG,TTTTTGT,TTTTTTA,TTTTTTC,TTTTTTG,TTTTTTT,genus name
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,1,2,Pipistrellus
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Rousettus
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Melonycteris
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4726,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Sturnira
4727,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,1,Murina
4728,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Artibeus
4729,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,Sturnira
4730,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,Kerivoula